.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
}

.main-heading{
    color: #0f172a
    font-size: 24px;
    text-align: center;
}

.card-container{
    background-color: #1e293b;
    height: 60vh;
    background-size: cover;
    text-align: center;
}

.image{
    height: 90px;
    width: 90px;
}

.heading{
    color: #0f172a;
    font-weight: 200px;
}
